asgiref==3.2.10
Django==3.0.8
django-elasticsearch-dsl==6.4.2
elasticsearch==6.8.1
elasticsearch-dsl==6.4.0
music21==5.7.2
Pillow==7.2.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
